<% content_for :head do %>
	<%= javascript_include_tag 'pag2', 'data-turbolinks-track' => true %>
	<% end %>

<h1>Pags#pag2</h1>
<p>Find me in app/views/pags/pag2.html.erb</p>
<%= @users %>
<%= image_tag("bonsai") %>
<%= image_tag("city") %>